body {
  background: #000;
  margin: 0;
}

#myVideo {
  width: 100vw; 
  height: auto;
  /* display: none; */
}

#container {
display: flex;
width: 100vw;
}

.content {
  width: 20%;
  margin: auto;
}

.projects {
  width: 90vw;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}

a {
  color: #fff;
  text-decoration: underline;
}

nav {
  display: flex;
}

.nav-items {
  margin: auto;
}