/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
 color: white;
  position: fixed;
  bottom: 50%;
  right: 33%;
  background: rgba(0, 0, 0, 0.8);
  padding: 2em;
  width: 400px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'VT323', monospace;
}

p, a, a:hover, a:active, a:visited  {
  font-family: 'VT323', monospace;
  color: #ffffff;
}
